@font-face {
    font-family: "Josefin";
    src: url("../../font/JosefinSans-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
}

#container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    width: 80%;
    height: 600px;
    margin-left: 10%;
}

.topleft {
    grid-area: 1/1/3/2;
    height: 100%;
    width: 100%;
}

.topright {
    grid-area: 1/2/2/3;
    height: 100%;
    width: 100%;
}

.bottomleft {
    grid-area: 3/1/4/2;
    height: 100%;
    width: 100%;
}

.bottomright {
    grid-area: 2/2/4/3;
    height: 100%;
    width: 100%;
}

.text {
    font-family: "Josefin";
    grid-area: 1/2/2/3;
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.text p, h3 {
    width: 80%;
    margin-left: 10%;
    margin-top: -5%;
    text-align: justify;
    font-weight: 400;
}

.imgGrid {
    width: 88%;
    height: 84%;
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 20% 50%;
    row-gap: 3%;
    column-gap: 2%;
    margin: 5%;
}

.imgHT {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.iconsArticle {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}
