@font-face {
    font-family: "Josefin";
    src: url("../../font/JosefinSans-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
}

.sanitInfo {
    font-family: "Josefin";
    display: flex;
    width: 80%;
    height: 400px;
    margin-left: 10%;
    background-color: #E8E8E8;
}

.sanitInfoText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 70%;
    margin-left: 10%;
    margin-top: 2%;
}

.sanitInfoText > p, ul {
    font-size: 25px;
}

.sanitInfoText ul {
    margin-left: -10%;
}

.sanitInfoText h2 {
    font-size: 200%;
}