@font-face {
    font-family: "Josefin";
    src: url("../../font/JosefinSans-VariableFont_wght.ttf");
}
*{ 
    margin: 0;
    padding: 0;
}

.container{
    margin-left: 180px;
    position: relative;
    
}

h1{
text-align: center;

}

#lastname{
    width: 461px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgba(232, 232, 232, 1);
}

#firstname{
    width: 461px;
    height: 100px;
    border-radius: 10px;
    margin-left: 10px;
    background-color: rgba(232, 232, 232, 1);

}

#address{
    width: 955px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgba(232, 232, 232, 1);
}

#email{
    width: 955px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgba(232, 232, 232, 1);
}

#phone{
    width: 955px;
    height: 100px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgba(232, 232, 232, 1);
}

button{
width: 344px;
height: 100px;
border-radius: 10px;
position: absolute;
left: 25%;
background-color: rgba(13, 136, 205, 1);
}




/* Début de mise en forme du header */



.logo {
    grid-area: 1 / 1 / 2 / 2;
    padding: 10px 10px 10px 10px;
    height: 80%;
    margin-left: 20%;
}

nav {
    grid-area: 1 / 2 / 2 / 3;
    padding-right: 5%;
}

nav ul {
    font-weight: 700;
    font-size: 150%;
    display: flex;
    justify-content: flex-end;
}

nav li {
    padding-left: 10%;
    list-style-type: none;  
    white-space: nowrap;
}

.linkNavHeader {
    text-decoration: none;
    color: white;
}

header {
    font-family: 'Josefin';
    display: grid;
    align-items: center;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    width: 80%;
    background-color: #11AB7C;
    margin-left: 10%;
    height: 120px;

}